*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#f4f4f4;
padding:40px;
}

.container{
max-width:900px;
margin:auto;
}

h1{
text-align:center;
margin-bottom:30px;
color:#222;
}

.card{
background:white;
padding:25px;
margin-bottom:20px;
border-radius:15px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card h2{
margin-bottom:10px;
color:#222;
}

.card p{
color:gray;
}

.available{
background:#d4edda;
color:green;
padding:10px 20px;
border-radius:30px;
font-weight:bold;
}

.busy{
background:#f8d7da;
color:#c0392b;
padding:10px 20px;
border-radius:30px;
font-weight:bold;
}

button{
background:#007bff;
color:white;
border:none;
padding:10px 20px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}